---
import { ArrowRight } from "icons";
import BlinkingUnderscore from "./BlinkingUnderscore.astro";
---
<section class="mb-20" id="About">
    <h2 class="text-4xl font-bold mb-12 border-l-4 border-pink-500 pl-4">ABOUT<span class="-ml-1"><BlinkingUnderscore fontSize="2.2rem" /> </span></h2>
    <div class="space-y-8">
      <div class="space-y-2 text-xl">
        <p><span class="underline underline-offset-4 decoration-pink-500">FULL-STACK DEVELOPER</span> SPECIALIZED IN BUILDING SCALABLE WEB APPLICATIONS.</p>
        <p>FOCUSED ON CREATING PERFORMANT AND ACCESSIBLE APPLICATIONS THAT DELIVER EXCEPTIONAL USER EXPERIENCES.</p>
      </div>
      
      <div class="flex flex-wrap gap-4">
        <a href="https://www.linkedin.com/in/gonzalo-demian-cubilla-015927310/" class="group border-2 border-white px-6 py-3 hover:border-pink-500 transition-colors flex items-center gap-2">
          Linkedin <span set:html={ArrowRight} class="group-hover:translate-x-1 transition-transform" />
        </a>
      </div>
    </div>

</section>