---
interface Props {
    fontSize: string;
}

const { fontSize } = Astro.props;
---

<style define:vars={{ fontSize }}>
    .blinking-cursor {
      display: inline-block;
      font-size: var(--fontSize);
      line-height: 1;
      color: rgb(236 72 153);
      animation: blink 1s step-end infinite;
    }

    @keyframes blink {
      50% {
        opacity: 0;
      }
    }
</style>
  
<span class="blinking-cursor">_</span>