---
import TimelineCard from './TimelineCard.astro';
const { items, title } = Astro.props;
---
<section class="mb-8">
  <h3 class="text-2xl font-bold mb-4">{title}</h3>
  {items.map((item: any) => (
    <TimelineCard experience={item} />
  ))}
</section>
