---
import Footer from "src/components/Footer.astro";
import Nav from "src/components/Nav.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<style>
			body{
				color-scheme: dark;
			}
		</style>
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content="A student of University Technical Degree in Programming, in Universidad Tecnológica Nacional Argentina. I am on a journey to become a competent full-stack developer.">
		<meta name="author" content="Gonzalo Cubilla">
		<meta name="keywords" content="Full Stack Developer,Programador, Técnico Universitario, Técnico Universitario Programación,UTN,Argentina,Gonzalo Cubilla,Gonzalo Demian Cubilla,Cubilla,Web Developer,Programador,Paginas web,Frontend,Backend,React,Node.js,Crear paginas web,Comprar Páginas Web" />
		<meta name="creator" content="Gonzalo Cubilla" />
		<meta name="publisher" content="Gonzalo Cubilla" />
		<meta property="og:title" content="Gonzalo Cubilla's Portfolio">
		<meta property="og:description" content="A student of University Technical Degree in Programming, in Universidad Tecnológica Nacional Argentina. I am on a journey to become a competent full-stack developer.">
		<meta property="og:url" content="https://keys4ever.dev">
		<meta property="og:site_name" content="Gonzalo Cubilla's Portfolio">
		<meta property="og:locale" content="en_US">
		<meta name="twitter:creator" content="@keys4ever_">
		<link rel="canonical" href="https://keys4ever.com" />

		<title>Keys4Ever</title>
	</head>
	<body class="bg-black text-white font-mono mx-auto selection:bg-pink-500 selection:text-white">
		<Nav />
		<div class="p-4"><slot /></div>
		<Footer />
	</body>
</html>

