<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<style>
			body{
				color-scheme: dark;
			}
		</style>
		<meta name="generator" content={Astro.generator} />
		<title>Keys4Ever</title>
	</head>
	<body class="bg-black text-white font-mono p-4 mx-auto selection:bg-pink-500 selection:text-white">
		<slot />
	</body>
</html>

