---
interface NavItemProps {
    to: string;
}
const { to } = Astro.props;
---
<li class="px-4 py-0 flex items-center border-r-2 border-white last:border-r-0 h-full hover:bg-pink-500 transition-colors duration-75">
    <a href={to}><slot /></a>
</li>